body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .navigation {
    position: fixed;
    top: 100px;
    right: 0px; 
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
  }
  
  .navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation ul li {
    padding: 10px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .navigation ul li:last-child {
    margin-bottom: 0;
  }
  
  main {
    margin-left: 50px;
    padding: 20px;
  }
  